In [1]:
# This is a comment line
# This is another comment line
# A comment line in Python should be starting with # symbol

In [5]:
num1 = input("Please enter first integer: ")
num2 = input("Please enter the second integer: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
result = num1 + num2  # string concatenation
print ("So the result is:", result)
print ("End of the program...")

Please enter first integer:  300
Please enter the second integer:  400

300 <class 'str'> 2861049775664
400 <class 'str'> 2861049776048
So the result is: 300400
End of the program...

In [32]:
num1 = int(input("Please enter first integer: "))
num2 = int(input("Please enter the second integer: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
result = num1 + num2  # algebraic adition
print ("So the result is:", result)
print ("End of the program...")

Please enter first integer:  100
Please enter the second integer:  200

100 <class 'int'> 2422004190544
200 <class 'int'> 2422004193744
So the result is: 300
End of the program...

In [10]:
num1 = int(input("Please enter first integer: "))
num2 = int(input("Please enter the second integer: "))
result = num1 + num2  # string concatenation

Please enter first integer:  400
Please enter the second integer:  500

In [33]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))   # {} is called place holder
print ("So {0} + {1} = {2}".format(num1, num2, result))   # indexed place holder
print ("So {2} + {1} = {0}".format(result, num2, num1))   # indexed place holder
print ("So {fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = result))   # labelled place holder
print ("So {fn} + {sn} = {tot}".format(tot = result, sn = num2, fn = num1))   # labelled place holder
print ("So %d + %d = %d"%(num1, num2, result))   # here %d stands for decimal format
print ("So %d + %f = %d"%(num1, num2, result))   # here %f stands for float format
print ("So %d + %8.2f = %d"%(num1, num2, result))   # here %f stands for float format
print (f"So {num1} + {num2} = {result}")   # here f stands for smart formatting available from Python 2.7 version

So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200.000000 = 300
So 100 +   200.00 = 300
So 100 + 200 = 300

In [27]:
# Arithmetic Operators
print (100 + 40)   # addition
print (100 - 40)   # subtraction
print (100 * 40)   # multiplication
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 % 40)   # modulus or remainder of the division
print (100 ** 4)   # exponentiation, to the power of

140
60
4000
2.5
2
20
100000000

In [35]:
# conditional statement
# find the maximum of three user given numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The first number is the maximum number...")
        print (f"So the maximum number is {num1}...")
    else:
        print ("The third number is the maximum number...")
        print (f"So the maximum number is {num3}...")
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("The third number is the maximum number...")
    print (f"So the maximum number is {num3}...")

print ("End of the program...")

Please enter the first integer:  100
Please enter the second integer:  200
Please enter the third integer:  300

The third number is the maximum number...
So the maximum number is 300...
End of the program...

In [42]:
# conditional statement
# find the maximum of three user given numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3):
    print ("The first number is the maximum number...")
    print (f"So the maximum number is {num1}...")
elif (num2 > num3):
    print ("The second number is the maximum number...");
    print (f"So the maximum number is {num2}...");
else:
    print ("The third number is the maximum number...")
    print (f"So the maximum number is {num3}...")

print ("End of the program...")

Please enter the first integer:  300
Please enter the second integer:  200
Please enter the third integer:  100

The first number is the maximum number...
So the maximum number is 300...
End of the program...

In [41]:
# conditional statement
# find the maximum of three user given numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3): print ("The first number is the maximum number..."); print (f"So the maximum number is {num1}...")
elif (num2 > num3):
    print ("The second number is the maximum number...");
    print (f"So the maximum number is {num2}...");
else:
    print ("The third number is the maximum number...")
    print (f"So the maximum number is {num3}...")

print ("End of the program...")

Please enter the first integer:  200
Please enter the second integer:  300
Please enter the third integer:  100

The second number is the maximum number...
So the maximum number is 300...
End of the program...

### Loops in Python

In [4]:
for i in range(8):
    print (f"Executing for i = {i}")
    
print ("End of the program...")

Executing for i = 0
Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
End of the program...

In [3]:
for i in range(0, 8, 1):
    print (f"Executing for i = {i}")
    
print ("End of the program...")

Executing for i = 0
Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
End of the program...

In [5]:
for i in range(0, 10, 2):
    print (f"Executing for i = {i}")
    
print ("End of the program...")

Executing for i = 0
Executing for i = 2
Executing for i = 4
Executing for i = 6
Executing for i = 8
End of the program...

In [9]:
for i in range(10, 0, -2):
    print (f"Executing for i = {i}")
    
print ("End of the program...")

Executing for i = 10
Executing for i = 8
Executing for i = 6
Executing for i = 4
Executing for i = 2
End of the program...

In [8]:
for i in range(1, 9):
    print (f"Executing for i = {i}")
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 8
Else block is executing...
Had a smooth execution...
End of the program...

In [11]:
for i in range(1, 9):
    print (f"Executing for i = {i}")
    if (i == 6): break
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
End of the program...

In [18]:
for i in range(1, 9):
    print (f"Executing for i = {i}")
    if (i == 8): 
        print (f"For i = {i}, we are breaking our the loop...")
        break
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 8
For i = 8, we are breaking our the loop...
End of the program...

In [17]:
for i in range(1, 9):
    print (f"Executing for i = {i}")
    if (i != 8):
        pass    # pass stands for statement placeholder
    else:
        break
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 8
End of the program...

In [21]:
for i in range(1, 11):
    if (i == 6 or i == 8):
        print (f"For i = {i} we are continuing the loop again...")
        continue
    print (f"Looping for i = {i}...")
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
For i = 6 we are continuing the loop again...
Looping for i = 7...
For i = 8 we are continuing the loop again...
Looping for i = 9...
Looping for i = 10...
Else block is executing...
Had a smooth execution...
End of the program...

In [23]:
i = 1
num = 9
while (i <= 10):
    print (f"So {i} x {num} = {i * num}...")
    # i += 1
    i = i + 1
else:
    print ("Else block is executing...")
print ("End of the program...")

So 1 x 9 = 9...
So 2 x 9 = 18...
So 3 x 9 = 27...
So 4 x 9 = 36...
So 5 x 9 = 45...
So 6 x 9 = 54...
So 7 x 9 = 63...
So 8 x 9 = 72...
So 9 x 9 = 81...
So 10 x 9 = 90...
Else block is executing...
End of the program...

In [25]:
print ("Visit Doctor...")   # 1 time
for day in range(1, 6):
    print ("Good Morning...")   # 5 times
    for medi in range(1, 4):
        print (f"Day No. => {day} and Medicine No. => {medi}...")   # 15 times
    print ("Good Night...")   # 5 times
    print ("------------------------------------")   # 5 times
print ("Thanks to Doctor...")   # 1 time

Visit Doctor...
Good Morning...
Day No. => 1 and Medicine No. => 1...
Day No. => 1 and Medicine No. => 2...
Day No. => 1 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 2 and Medicine No. => 1...
Day No. => 2 and Medicine No. => 2...
Day No. => 2 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 3 and Medicine No. => 1...
Day No. => 3 and Medicine No. => 2...
Day No. => 3 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 4 and Medicine No. => 1...
Day No. => 4 and Medicine No. => 2...
Day No. => 4 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 5 and Medicine No. => 1...
Day No. => 5 and Medicine No. => 2...
Day No. => 5 and Medicine No. => 3...
Good Night...
------------------------------------
Thanks to Doctor...

In [26]:
print ("Visit Doctor...")   # 1 time
day = 1
while (day <= 5):
    print ("Good Morning...")   # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. => {day} and Medicine No. => {medi}...")   # 15 times
        medi += 1
    print ("Good Night...")   # 5 times
    print ("------------------------------------")   # 5 times
    day += 1
print ("Thanks to Doctor...")   # 1 time

Visit Doctor...
Good Morning...
Day No. => 1 and Medicine No. => 1...
Day No. => 1 and Medicine No. => 2...
Day No. => 1 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 2 and Medicine No. => 1...
Day No. => 2 and Medicine No. => 2...
Day No. => 2 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 3 and Medicine No. => 1...
Day No. => 3 and Medicine No. => 2...
Day No. => 3 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 4 and Medicine No. => 1...
Day No. => 4 and Medicine No. => 2...
Day No. => 4 and Medicine No. => 3...
Good Night...
------------------------------------
Good Morning...
Day No. => 5 and Medicine No. => 1...
Day No. => 5 and Medicine No. => 2...
Day No. => 5 and Medicine No. => 3...
Good Night...
------------------------------------
Thanks to Doctor...

In [29]:
print ("Hello " * 3)
print ("Welcome " * 5)

Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome

In [ ]:
Pattern Printing - 1
--------------------

n = 6           i   .   *
             ---------------
.....*          1   5   1       (n, i)
....***         2   4   3  . => (n - i)
...*****        3   3   5  
..*******       4   2   7  * => (2 * i - 1)
.*********      5   1   9
***********     6   0  11
             ---------------
              Tracing Table

In [34]:
n = int(input("Please enter the number of layers in the pattern: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers in the pattern:  10

.........*
........***
.......*****
......*******
.....*********
....***********
...*************
..***************
.*****************
*******************
End of the program...

In [ ]:
Pattern Printing - 2
--------------------

n = 6           i   .   *
             ---------------
***********     1   0  11       (n, i)
.*********      2   1   9  . => (i - 1)
..*******       3   2   7  
...*****        4   3   5  * => (2 * (n - i) + 1)
....***         5   4   3
.....*          6   5   1
             ---------------
              Tracing Table

In [37]:
n = int(input("Please enter the number of layers in the pattern: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers in the pattern:  6

***********
.*********
..*******
...*****
....***
.....*
End of the program...

### Exception Handling

In [39]:
num1 = int(input("Please enter the first integer number: "))
num2 = int(input("Please enter the second integer number: "))
result = num1 / num2
print (f"So {num1} / {num2} = {result}...")
print ("End of the program...")

Please enter the first integer number:  100
Please enter the second integer number:  0

ZeroDivisionError: division by zero

In [43]:
try:    
    num1 = int(input("Please enter the first integer number: "))
    num2 = int(input("Please enter the second integer number: "))
    result = num1 / num2
    print (f"So {num1} / {num2} = {result}...")
except ZeroDivisionError as zde:
    print ("ZeroDivisionError: Division by ZERO is Illegal...")
    print ("ZeroDivisionError: Error Type:", type(zde))
    print ("ZeroDivisionError: Error Message:", zde)
print ("End of the program...")

Please enter the first integer number:  hundred

ValueError: invalid literal for int() with base 10: 'hundred'

In [46]:
try:    
    num1 = int(input("Please enter the first integer number: "))
    num2 = int(input("Please enter the second integer number: "))
    result = num1 / num2
    print (f"So {num1} / {num2} = {result}...")
except ZeroDivisionError as zde:
    print ("ZeroDivisionError: Division by ZERO is Illegal...")
    print ("ZeroDivisionError: Error Type:", type(zde))
    print ("ZeroDivisionError: Error Message:", zde)
except ValueError as ve:
    print ("ValueError: Please provide INTEGER values only...")
    print ("ValueError: Error Type:", type(ve))
    print ("ValueError: Error Message:", ve)
print ("End of the program...")

Please enter the first integer number:  10.4

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: '10.4'
End of the program...

In [48]:
try:    
    num1 = int(input("Please enter the first integer number: "))
    num2 = int(input("Please enter the second integer number: "))
    result = num1 / num2
    print (f"So {num1} / {num2} = {result}...")
except ZeroDivisionError as zde:
    print ("ZeroDivisionError: Division by ZERO is Illegal...")
    print ("ZeroDivisionError: Error Type:", type(zde))
    print ("ZeroDivisionError: Error Message:", zde)
except ValueError as ve:
    print ("ValueError: Please provide INTEGER values only...")
    print ("ValueError: Error Type:", type(ve))
    print ("ValueError: Error Message:", ve)
except Exception as ex:
    print ("Exception: Some ERROR has occurred...!!!")
    print ("Exception: Error Type:", type(ex))
    print ("Exception: Error Message:", ex)
print ("End of the program...")

Please enter the first integer number:  100
Please enter the second integer number:  0

Exception: Some ERROR has occurred...!!!
Exception: Error Type: <class 'ZeroDivisionError'>
Exception: Error Message: division by zero
End of the program...

In [53]:
try:    
    num1 = int(input("Please enter the first integer number: "))
    num2 = int(input("Please enter the second integer number: "))
    if (num1 < -100 or num2 < -100): raise NameError("Below-100")
    if (num1 > 100 or num2 > 100): raise NameError("Above+100")
    result = num1 / num2
    print (f"So {num1} / {num2} = {result}...")
except ZeroDivisionError as zde:
    print ("ZeroDivisionError: Division by ZERO is Illegal...")
    print ("ZeroDivisionError: Error Type:", type(zde))
    print ("ZeroDivisionError: Error Message:", zde)
except ValueError as ve:
    print ("ValueError: Please provide INTEGER values only...")
    print ("ValueError: Error Type:", type(ve))
    print ("ValueError: Error Message:", ve)
except NameError as ne:
    print ("NameError: Input value if out of range...")
    print ("NameError: Error Type:", type(ne))
    print ("NameError: Error Message:", ne)
    if (str(ne) == "Below-100"): print ("NameError: Input value is BELLOW -100...")
    if (str(ne) == "Above+100"): print ("NameError: Input value is ABOVE +100...")
except Exception as ex:
    print ("Exception: Some ERROR has occurred...!!!")
    print ("Exception: Error Type:", type(ex))
    print ("Exception: Error Message:", ex)
print ("End of the program...")

Please enter the first integer number:  100
Please enter the second integer number:  30

So 100 / 30 = 3.3333333333333335...
End of the program...

In [55]:
try:    
    num1 = int(input("Please enter the first integer number: "))
    num2 = int(input("Please enter the second integer number: "))
    if (num1 < -100 or num2 < -100): raise NameError("Below-100")
    if (num1 > 100 or num2 > 100): raise NameError("Above+100")
    result = num1 / num2
    print (f"So {num1} / {num2} = {result}...")
except ZeroDivisionError as zde:
    print ("ZeroDivisionError: Division by ZERO is Illegal...")
    print ("ZeroDivisionError: Error Type:", type(zde))
    print ("ZeroDivisionError: Error Message:", zde)
except ValueError as ve:
    print ("ValueError: Please provide INTEGER values only...")
    print ("ValueError: Error Type:", type(ve))
    print ("ValueError: Error Message:", ve)
except NameError as ne:
    print ("NameError: Input value if out of range...")
    print ("NameError: Error Type:", type(ne))
    print ("NameError: Error Message:", ne)
    if (str(ne) == "Below-100"): print ("NameError: Input value is BELLOW -100...")
    if (str(ne) == "Above+100"): print ("NameError: Input value is ABOVE +100...")
except Exception as ex:
    print ("Exception: Some ERROR has occurred...!!!")
    print ("Exception: Error Type:", type(ex))
    print ("Exception: Error Message:", ex)
else:
    print ("Else: ELSE block is executing...")
    print ("Else: Had a smooth execution...")
finally:
    print ("Finally: FINALLY block executes always...")
    print ("Finally: FINALLY block should be the last block...")
print ("End of the program...")

Please enter the first integer number:  hundred

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: 'hundred'
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...
End of the program...

In [56]:
while (True):
    try:    
        num1 = int(input("Please enter the first integer number: "))
        num2 = int(input("Please enter the second integer number: "))
        if (num1 < -100 or num2 < -100): raise NameError("Below-100")
        if (num1 > 100 or num2 > 100): raise NameError("Above+100")
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}...")
    except ZeroDivisionError as zde:
        print ("ZeroDivisionError: Division by ZERO is Illegal...")
        print ("ZeroDivisionError: Error Type:", type(zde))
        print ("ZeroDivisionError: Error Message:", zde)
    except ValueError as ve:
        print ("ValueError: Please provide INTEGER values only...")
        print ("ValueError: Error Type:", type(ve))
        print ("ValueError: Error Message:", ve)
    except NameError as ne:
        print ("NameError: Input value if out of range...")
        print ("NameError: Error Type:", type(ne))
        print ("NameError: Error Message:", ne)
        if (str(ne) == "Below-100"): print ("NameError: Input value is BELLOW -100...")
        if (str(ne) == "Above+100"): print ("NameError: Input value is ABOVE +100...")
    except Exception as ex:
        print ("Exception: Some ERROR has occurred...!!!")
        print ("Exception: Error Type:", type(ex))
        print ("Exception: Error Message:", ex)
    else:
        print ("Else: ELSE block is executing...")
        print ("Else: Had a smooth execution...")
        break
    finally:
        print ("Finally: FINALLY block executes always...")
        print ("Finally: FINALLY block should be the last block...")
print ("End of the program...")

Please enter the first integer number:  1000
Please enter the second integer number:  2

NameError: Input value if out of range...
NameError: Error Type: <class 'NameError'>
NameError: Error Message: Above+100
NameError: Input value is ABOVE +100...
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  -1000
Please enter the second integer number:  2

NameError: Input value if out of range...
NameError: Error Type: <class 'NameError'>
NameError: Error Message: Below-100
NameError: Input value is BELLOW -100...
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  100
Please enter the second integer number:  0

ZeroDivisionError: Division by ZERO is Illegal...
ZeroDivisionError: Error Type: <class 'ZeroDivisionError'>
ZeroDivisionError: Error Message: division by zero
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  100.5

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: '100.5'
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: ''
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  hundred

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: 'hundred'
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  40
Please enter the second integer number:  8

So 40 / 8 = 5.0...
Else: ELSE block is executing...
Else: Had a smooth execution...
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...
End of the program...

In [56]:
while (True):
    try:    
        num1 = int(input("Please enter the first integer number: "))
        num2 = int(input("Please enter the second integer number: "))
        if (num1 < -100 or num2 < -100): raise NameError("Below-100")
        if (num1 > 100 or num2 > 100): raise NameError("Above+100")
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}...")
    except ZeroDivisionError as zde:
        print ("ZeroDivisionError: Division by ZERO is Illegal...")
        print ("ZeroDivisionError: Error Type:", type(zde))
        print ("ZeroDivisionError: Error Message:", zde)
    except ValueError as ve:
        print ("ValueError: Please provide INTEGER values only...")
        print ("ValueError: Error Type:", type(ve))
        print ("ValueError: Error Message:", ve)
    except NameError as ne:
        print ("NameError: Input value if out of range...")
        print ("NameError: Error Type:", type(ne))
        print ("NameError: Error Message:", ne)
        if (str(ne) == "Below-100"): print ("NameError: Input value is BELLOW -100...")
        if (str(ne) == "Above+100"): print ("NameError: Input value is ABOVE +100...")
    except Exception as ex:
        print ("Exception: Some ERROR has occurred...!!!")
        print ("Exception: Error Type:", type(ex))
        print ("Exception: Error Message:", ex)
    else:
        print ("Else: ELSE block is executing...")
        print ("Else: Had a smooth execution...")
        break
    finally:
        print ("Finally: FINALLY block executes always...")
        print ("Finally: FINALLY block should be the last block...")
print ("End of the program...")

Please enter the first integer number:  1000
Please enter the second integer number:  2

NameError: Input value if out of range...
NameError: Error Type: <class 'NameError'>
NameError: Error Message: Above+100
NameError: Input value is ABOVE +100...
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  -1000
Please enter the second integer number:  2

NameError: Input value if out of range...
NameError: Error Type: <class 'NameError'>
NameError: Error Message: Below-100
NameError: Input value is BELLOW -100...
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  100
Please enter the second integer number:  0

ZeroDivisionError: Division by ZERO is Illegal...
ZeroDivisionError: Error Type: <class 'ZeroDivisionError'>
ZeroDivisionError: Error Message: division by zero
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  100.5

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: '100.5'
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: ''
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  hundred

ValueError: Please provide INTEGER values only...
ValueError: Error Type: <class 'ValueError'>
ValueError: Error Message: invalid literal for int() with base 10: 'hundred'
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...

Please enter the first integer number:  40
Please enter the second integer number:  8

So 40 / 8 = 5.0...
Else: ELSE block is executing...
Else: Had a smooth execution...
Finally: FINALLY block executes always...
Finally: FINALLY block should be the last block...
End of the program...

In [4]:
num1 = 100
if (num1 % 2 == 0):
    print ("Even number...")
else:
    print ("Odd number...")

Even number...

### User Define Function (UDF)

In [11]:
def funct1():
    print ("Welcome " * 5)
    
funct1()
funct1()
funct1()

Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome

In [14]:
def funct2(msg, times):   # positional parameters
    print (msg * times)
    
funct2 ("Good Morning. ", 4)   # positional arguments
funct2 ("Hello. ", 6)
funct2 ("Hi !!! ", 9)

Good Morning. Good Morning. Good Morning. Good Morning.
Hello. Hello. Hello. Hello. Hello. Hello.
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!

In [17]:
def funct3(msg, times):
    return msg * times
    
result = funct3("Hello ", 6)
print (result)
result = funct3("Hi ", 2)
print (result)
print (funct3("Welcome ", 5))

Hello Hello Hello Hello Hello Hello
Hi Hi
Welcome Welcome Welcome Welcome Welcome

In [27]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"So par1 = {par1}, par2 = {par2}, par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)

So par1 = 100, par2 = 200, par3 = 300...
So par1 = 100, par2 = 200, par3 = 333...
So par1 = 100, par2 = 222, par3 = 333...
So par1 = 111, par2 = 222, par3 = 333...
So par1 = 100, par2 = 222, par3 = 300...
So par1 = 100, par2 = 222, par3 = 300...

This is a note
It can not be executed...

<h1>Heading One</h1>
<h2>Heading One</h2>
<h3>Heading One</h3>
<h4>Heading One</h4>
<h5>Heading One</h5>
<h6>Heading One</h6>

# Heading One
## Heading One
### Heading One
#### Heading One
##### Heading One
###### Heading One

In [28]:
def funct5(num1, num2 = None):
    if (num2 == None):
        return 2 * num1
    else:
        return num1 + num2
    
print (funct5(100, 200))
print (funct5(500))

300
1000

In [31]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"So total = {tt}, difference = {dd}, product = {pp} and quotient = {qq}...")
result = funct6(100, 40)
print (result, type(result))
print (f"So total = {result[0]}, difference = {result[1]}, product = {result[2]} and quotient = {result[3]}...")

So total = 140, difference = 60, product = 4000 and quotient = 2.5...
(140, 60, 4000, 2.5) <class 'tuple'>
So total = 140, difference = 60, product = 4000 and quotient = 2.5...

In [35]:
# function with variable number of arguments
def funct7(*arg):    # here *arg means forcefully defining arg as a tuple type of variable
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "London")
funct7("Amitava", "Developer", 65000, "London", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2422121046720
('Amitava', 'Developer', 65000, 'London') 4 <class 'tuple'> 2422121076896
('Amitava', 'Developer', 65000, 'London', 'Masters') 5 <class 'tuple'> 2422120453584

In [45]:
def funct8(**kwarg):    # here **kwarg means forcefully defining kwarg as a dictionary type of variable, kw stands for key-word
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name="Amitava", job="Developer", salary=65000)
funct8(name="Amitava", job="Developer", salary=65000, location="London")
funct8(name="Amitava", job="Developer", salary=65000, location="London", qualification="Masters")
print (type(funct8))

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000} 3 <class 'dict'> 2422121123776
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'London'} 4 <class 'dict'> 2422077929536
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'London', 'qualification': 'Masters'} 5 <class 'dict'> 2422120831936
<class 'function'>

In [37]:
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, location="London", qualification="Masters")
funct9("Amitava", "Developer", 65000 )
funct9(location="London", qualification="Masters" )

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2422121126400
{'location': 'London', 'qualification': 'Masters'} 2 <class 'dict'> 2422088666432
('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2422121126400
{} 0 <class 'dict'> 2422088665728
() 0 <class 'tuple'> 2422004203632
{'location': 'London', 'qualification': 'Masters'} 2 <class 'dict'> 2422121152000

### Recursive and Non-Recursive functions

In [39]:
# 5! = 5 * 4 * 3 * 2 * 1
# 5! = 1 * 2 * 3 * 4 * 5
# non-recursive function, iterative function
def factorial_nr(n):
    if (n == 0 or n == 1): return 1
    fact = 1
    for i in range(1, n + 1):   # iteration
        fact = fact * i
    return fact

print (factorial_nr(5))

120

In [42]:
# recursive function
def factorial_r(n):
    if (n == 0 or n == 1): return 1   # base case, that is for some inputs outputs are pre-known to us, where the recursion will terminate
    return n * factorial_r(n - 1)     # recursive case, calling itself

print (factorial_r(5))

120

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

### Lambda Function

In [47]:
my_square = lambda  num: num * num
n = 10
print (n, my_square(n))
print (type(my_square))

10 100
<class 'function'>

### String Processing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [4]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])

university 10 <class 'str'> 2068368745008
v v i i r r
ver ver ver ver

In [10]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.swapcase())
print (mystr.title())
print (mystr.capitalize())

caLCuTTa unIVerSitY 19 <class 'str'> 2068396761904
CALCUTTA UNIVERSITY
calcutta university
CAlcUttA UNivERsITy
Calcutta University
Calcutta university

In [ ]:
help(str)

In [17]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13))

print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))

4 4 11 -1
4 4 11

ValueError: substring not found

In [18]:
mystr = "charity begins at home"
try:
    print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
    print (mystr.index("ins", 11, 13))
except ValueError as ve:
    print ("Unsuccessful Searching...")
    print ("Error type:", type(ve))
    print ("error message:", ve)

4 4 11
Unsuccessful Searching...
Error type: <class 'ValueError'>
error message: substring not found

In [20]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    calcutta    university      31 <class 'str'> 2068369009248
calcutta    university 22
calcutta    university      27
    calcutta    university 26

In [21]:
mystr = "@##@calcutta@#@@university@@##@"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

@##@calcutta@#@@university@@##@ 31 <class 'str'> 2068410741056
calcutta@#@@university 22
calcutta@#@@university@@##@ 27
@##@calcutta@#@@university 26

In [23]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False True True
True False True

In [24]:
# reading character by character from a string
mystr = "school"
for ch in mystr:
    print (ch)

s
c
h
o
o
l

In [25]:
mystr = "school"
for i in range(len(mystr)):
    print (mystr[i])

s
c
h
o
o
l

In [29]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)
list1 = mystr.split("x")
print (list1)

charity begins at home 22 <class 'str'> 2068403029376
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']
['charity begins at home']

In [30]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr)
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2068411118272
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [34]:
mystr = "university"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "university1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "university-1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())

university True False True
1234 False True True
university1234 False False True
university-1234 False False False

In [35]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)

2 1 0
unxversxty
university
unxversxty

In [37]:
mystr = "mississippi"
print (mystr, type(mystr), len(mystr))
print (list(mystr), len(list(mystr)))
print (tuple(mystr), len(tuple(mystr)))
print (set(mystr), len(set(mystr)))
print (frozenset(mystr), len(frozenset(mystr)))

mississippi <class 'str'> 11
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] 11
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') 11
{'p', 's', 'i', 'm'} 4
frozenset({'p', 's', 'i', 'm'}) 4

In [ ]:
Class Assignment:
-----------------
Take a sentence from the user as input. The sentence may contain upper case and lower case 
characters and special characters. Find the number of vowels and consonants in the given sentence.

In [39]:
mystr = input("Please enter a string: ")
vcount = ccount = 0
for ch in mystr.lower():
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So string {mystr} has vowel count = {vcount} and cosonant count = {ccount}...")
print ("End of the program...")

Please enter a string:  CHaRItY beGinS at HomE

So string CHaRItY beGinS at HomE has vowel count = 7 and cosonant count = 12...
End of the program...

### List Processing

In [1]:
list1 = [100, 400, 300, 200, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 700] 5 <class 'list'> 2094061208896
700 100
1700 340.0

In [2]:
list1 = [100, 400, True, 300, 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 300, 200, False, 700] 7 <class 'list'> 2094061210560
700 False
1701 243.0

In [6]:
list1 = ["sunday", "Monday", 'friday', 'saturday', 'tuesday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

['sunday', 'Monday', 'friday', 'saturday', 'tuesday'] 5 <class 'list'> 2094061208192
tuesday Monday

In [9]:
list1 = [100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
# print (max(list1), min(list1))
# print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700] 9 <class 'list'> 2094089970304

In [10]:
# Indexing and slicing
# L ro R ->  0         1          2            3           4
list1 =    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# R to L -> -5        -4         -3           -2          -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[3], list1[-2])
print (list1[2][3:6], list1[-3][-6:-3])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5 <class 'list'> 2094089967360
Wednesday Wednesday Thursday Thursday
nes nes

In [11]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
print (list1)
print (list2)
list3 = list1 + list2    # list concatenation
print (list3)
list1.extend(list2)      # list concatenation
print (list1)
print (list2)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Mango', 'Pineapple', 'Guava', 'Lime']

In [12]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
print (list1)
print (list2)
list3 = [list1, list2]      # list of lists
print (list3)
print (len(list3[0]), len(list3[1]))
print (list3[1][1:3], list3[0][2:4], list3[0][2][3:6])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], ['Mango', 'Pineapple', 'Guava', 'Lime']]
5 4
['Pineapple', 'Guava'] ['Wednesday', 'Thursday'] nes

In [14]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.append("Guava")
print (list1, len(list1))
list1.append("Pineapple")
print (list1, len(list1))
list1.append("Orange")
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava'] 6
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Pineapple'] 7
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Pineapple', 'Orange'] 8

In [16]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.insert(1, "Lemon")
print (list1, len(list1))
list1.insert(3, "Orange")
print (list1, len(list1))
list1.insert(2, "Apple")
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Mango', 'Lemon', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 6
['Mango', 'Lemon', 'Pineapple', 'Orange', 'Coconut', 'Banana', 'Lime'] 7
['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Banana', 'Lime'] 8

In [17]:
# update operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1[0] = "Himsagar"
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Himsagar', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5

In [19]:
# deletion operation on list
list1 = ['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime']
print (list1, len(list1))
list1.remove("Pineapple")
print (list1, len(list1))
list1.remove("Apple")
print (list1, len(list1))
list1.remove("Lime")
print (list1, len(list1))

['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 8
['Mango', 'Lemon', 'Apple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 7
['Mango', 'Lemon', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 6
['Mango', 'Lemon', 'Orange', 'Coconut', 'Pineapple'] 5

In [20]:
list1 = ['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime']
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))

['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 8
Lime
['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple'] 7
Pineapple
['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut'] 6
Coconut
['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange'] 5

In [21]:
list1 = ['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime']
print (list1, len(list1))
print (list1.pop(2))
print (list1, len(list1))
print (list1.pop(0))
print (list1, len(list1))
print (list1.pop(3))
print (list1, len(list1))

['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 8
Apple
['Mango', 'Lemon', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 7
Mango
['Lemon', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 6
Coconut
['Lemon', 'Pineapple', 'Orange', 'Pineapple', 'Lime'] 5

In [22]:
list1 = ['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime']
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 8
[] 0

In [23]:
list1 = ['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime']
print (list1, len(list1))
del list1[2]
print (list1, len(list1))

['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 8
['Mango', 'Lemon', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 7

In [24]:
list1 = ['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime']
print (list1, len(list1))
del list1
print (list1, len(list1))

['Mango', 'Lemon', 'Apple', 'Pineapple', 'Orange', 'Coconut', 'Pineapple', 'Lime'] 8

NameError: name 'list1' is not defined

In [25]:
# reverse of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Lime', 'Banana', 'Coconut', 'Pineapple', 'Mango'] 5

In [26]:
# sorting of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1.sort()
print (list1, len(list1))
list1.sort(reverse = True)
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple'] 5
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana'] 5

In [27]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
list1 = sorted(list1)
print (list1, len(list1))
list1 = sorted(list1, reverse = True)
print (list1, len(list1))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 5
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple'] 5
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana'] 5

In [28]:
list1 = [True, False, True, True]
print (any(list1), all(list1))

list1 = [True, True, True, True]
print (any(list1), all(list1))

list1 = [False, False, False, False]
print (any(list1), all(list1))

True False
True True
False False

In [30]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1, len(list1))
print (list1.count('Pineapple'))
print (list1.count('pineapple'))
print (list1.index("Pineapple"))
print (list1.index("Pineapple", 2))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime'] 8
2
0
1
4

### Tuple Processing

In [38]:
tuple1 = (100, 400, 300, 200, 700)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 700) 5 <class 'tuple'> 2094090377296
700 100
1700 340.0

In [39]:
tuple1 = (100, 400, True, 300, 200, False, 700)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 300, 200, False, 700) 7 <class 'tuple'> 2094090341536
700 False
1701 243.0

In [40]:
tuple1 = ("sunday", "monday", 'friday', 'saturday', 'Tuesday')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('sunday', 'monday', 'friday', 'saturday', 'Tuesday') 5 <class 'tuple'> 2094090380816
sunday Tuesday

In [41]:
tuple1 = (100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
# print (max(tuple1), min(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700) 9 <class 'tuple'> 2094090604352

In [37]:
# Indexing and slicing
# L ro R ->   0         1          2            3           4
tuple1 =    ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# R to L ->  -5        -4         -3           -2          -1
print (tuple1[2], tuple1[-3], tuple1[3], tuple1[-2])
print (tuple1[2][3:6], tuple1[-3][-6:-3])

Wednesday Wednesday Thursday Thursday
nes nes

In [42]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = ("Mango", "Pineapple", "Guava", "Lime")
print (tuple1, len(tuple1))
print (tuple2, len(tuple2))
tuple3 = tuple1 + tuple2      # tuple concatenation
print (tuple3, len(tuple3))
tuple3 = (tuple1, tuple2)     # tuple of tuples
print (tuple3, len(tuple3))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 5
('Mango', 'Pineapple', 'Guava', 'Lime') 4
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime') 9
(('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'), ('Mango', 'Pineapple', 'Guava', 'Lime')) 2

In [43]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

10 <class 'int'>
(10,) <class 'tuple'>

In [46]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, len(tuple1), id(tuple1), type(tuple1))
# tuple1[1] = 'Saturday'
list1 = list(tuple1)
print (list1, len(list1), id(list1), type(list1))
list1[1] = 'Saturday'
print (list1, len(list1), id(list1), type(list1))
tuple1 = tuple(list1)
print (tuple1, len(tuple1), id(tuple1), type(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 5 2094090083344 <class 'tuple'>
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5 2094090230272 <class 'list'>
['Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday'] 5 2094090230272 <class 'list'>
('Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday') 5 2094090377376 <class 'tuple'>

In [47]:
# sorting on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, len(tuple1), id(tuple1), type(tuple1))
tuple2 = tuple(sorted(tuple1))
print (tuple2, len(tuple2), id(tuple2), type(tuple2))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 5 2094090083344 <class 'tuple'>
('Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday') 5 2094090377376 <class 'tuple'>

In [48]:
tuple1 = (True, False, True, True); print (any(tuple1), all(tuple1))
tuple1 = (True, True, True, True); print (any(tuple1), all(tuple1))
tuple1 = (False, False, False, False); print (any(tuple1), all(tuple1))

True False
True True
False False

In [49]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.count('Pineapple'), tuple1.count('Lemon'))

2 0

In [51]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1.index("Pineapple"))
print (tuple1.index("Pineapple", 0), tuple1.index("Pineapple", 2))
print (tuple1.index("Pineapple", 5))

1
1 4

ValueError: tuple.index(x): x not in tuple

### Dictionary Processing

### Set Processing

### Frozen Set Processing